* {
	box-sizing: border-box;
}

body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	background-color: #bdeed6;
	font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    max-width: 900px;
}

.inputs-wrap,
.btns-wrap {
    margin-bottom: 20px;
}

.input {
    height: 50px;
    font-size: 18px;
}

.btn {
    min-width: 60px;
    min-height: 30px;
    font-size: 18px;
    border: none;
}

.btn.btn-active {
    background: #396586;
    color: white;
    border-color: #295a77;
}

.btn-res {
    margin-bottom: 15px;
}

.res {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 50px;
    background-color: azure;
    border: 1px solid #295a77;
}

.error {
    color: red;
    font-size: 18px;
    border-color: red;
}
